@model ProjectOnHomeShop.ViewModel.HomeViewModel

@{ var country = new List<SelectListItem>
    { new SelectListItem {Text="Select" ,Value="1",Selected=true },
    new SelectListItem { Text="India",Value="2",Selected=true},
    new SelectListItem { Text="UK",Value="3",Selected=true },
    new SelectListItem {Text="US",Value="4",Selected=true },
    new SelectListItem {Text="Germany",Value="5" ,Selected=true }};

    ViewBag.country = country;
}

@{ var title = new List<SelectListItem>
    {
       new SelectListItem {Text="Mr.",Value="1",Selected=true },
       new SelectListItem { Text="Mrs.",Value="2",Selected=true},
       new SelectListItem { Text="Miss",Value="3",Selected=true},
       new SelectListItem { Text="Others",Value="4",Selected=true}};

    ViewBag.title = title;
}

@using (Html.BeginForm("ClientInfo", "Home", FormMethod.Post))
{
    <div class="tablebackground">
        <div>
            <div class=" tabledesign ">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 commondiv">
                    @Html.LabelFor(m => m.clientdata.Title)
                    @Html.DropDownListFor(m => m.clientdata.Title, ViewBag.title as List<SelectListItem>, new { @class = "inputField" })
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 commondiv">
                    @Html.LabelFor(m => m.clientdata.FirstName)
                    @Html.TextBoxFor(m => m.clientdata.FirstName, new { @class = "inputField" })
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 commondiv">
                    @Html.LabelFor(m => m.clientdata.LastName)
                    @Html.TextBoxFor(m => m.clientdata.LastName, new { @class = "inputField" })
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 commondiv">
                    @Html.LabelFor(m => m.clientdata.Email)
                    @Html.TextBoxFor(m => m.clientdata.Email, new { @class = "inputField" })
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="tabledesign ">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 commondiv">
                    @Html.LabelFor(m => m.clientdata.PhoneNo)
                    @Html.TextBoxFor(m => m.clientdata.PhoneNo , new { @class = "inputField" })
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 commondiv">
                    @Html.LabelFor(m => m.clientdata.Country)
                    @Html.DropDownListFor(m => m.clientdata.Country ,ViewBag.country as List<SelectListItem>, new { @class = "inputField" })
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 commondiv">
                    @Html.LabelFor(m => m.clientdata.PostCode)
                    @Html.TextBoxFor(m => m.clientdata.PostCode, new { @class = "inputField" })
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="btnpad">
            <input type="submit" value="Find Me" class="findbutton" />
            
        </div>
    </div>
}